<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none text-primary fw-bold fs-2">
         Note_Book
        </a>
      </div>

      <form class="nav col-12 col-md-auto flex-fill justify-content-center " action="/dashboard/search" role="search" method="post">
        <input type="search" name="searchTerm" class="form-control border-primary" placeholder="Search..." aria-label="Search" id="">
      </form>

      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-outline-primary me-2">Log Out</a>
      </div>
    </header>
  </div>