<div class="p-4 container-fluid-custom container-fluid">
<h3 class="text-center mb-4">About</h3>
<p class="fs-2 px-4">
    Welcome to NoteApp! We're a note-taking app designed to help you capture your ideas, thoughts, and to-do lists in one place. <br>

At NoteApp, we understand how important it is to have a reliable and accessible tool to help you stay organized and productive. That's why we've created a platform that's easy to use, customizable, and accessible from any device. <br>

Whether you're a student, professional, or just someone who likes to jot down their ideas on-the-go, NoteApp is the perfect solution for all your note-taking needs. With features like rich text editing, tagging, and search functionality, you can easily find and organize your notes exactly how you want them. <br>

We believe that taking notes should be a seamless and enjoyable experience, which is why we've put a lot of thought and care into designing our app. Our team is dedicated to creating a product that's not only functional but also aesthetically pleasing, making the process of taking notes a more enjoyable one. <br>

Thank you for choosing NoteApp as your go-to note-taking app. We hope that you find it useful, and we're always here to help you make the most out of your notes.
</p>
</div>