<div class="px-5 fs-4">
    <h3 class="text-center mb-4">features</h3>
    <div>NoteApp offers a variety of features to help you take notes, organize them, and stay on top of your tasks. Some of our key features include:</div>

    <div class="m-4"><span class="fw-bold fs-4">Rich Text Editing: </span>With our WYSIWYG editor, you can easily format your notes with bold, italic, underline, and more. You can also add images, links, and tables to your notes.</div>

    <div  class="m-4"><span class="fw-bold fs-4">Tagging: </span> Organize your notes with tags to easily find them later. You can add multiple tags to a single note, and filter your notes by tag.</div>

    <div class="m-4"><span class="fw-bold fs-4">Search:</span> Our powerful search feature allows you to quickly find the notes you're looking for. You can search by keyword, tag, or even by date created.</div>

    <div class="m-4"><span class="fw-bold fs-4">Reminders:</span> Set reminders for your notes to help you stay on track with your tasks. You can choose to receive reminders via email or push notification.</div>

    <div class="m-4"><span class="fw-bold fs-4">Sync Across Devices: </span>Your notes are automatically synced across all your devices, so you can access them anywhere, anytime.</div>

    <div class="m-4"><span class="fw-bold fs-4">Collaboration:</span> Share your notes with others to collaborate on projects or brainstorm ideas together. You can give different levels of access to different users, such as view-only or edit permissions.</div>

    <div class="m-4"><span class="fw-bold fs-4">Customization:</span> Personalize your NoteApp experience by choosing from a variety of themes and color schemes.</div>

<div>At NoteApp, we're committed to providing our users with the best possible note-taking experience. We're constantly updating and improving our app to meet the needs of our users, and we welcome your feedback and suggestions for new features.</div>

</div>